<!--
This file needs to be replaced with a version writen by us
This file displays errormessages to the user
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <h1>Error <%= error.status %></h1>
        <p><%= error.message %></p>
        <% if (error.stack) { %>
            <pre><%= error.stack %></pre>
        <% } %>
        <a href="/" class="back-link">Back to Home</a>
    </div>
</body>
</html>
